.App {
  margin: 10px 15vw;
  padding: 20px 5vw;
  font-size: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);

}

.button {
  border: none; /* Відсутність рамки */
  text-align: center; /* Вирівнювання тексту по центру */
  display: inline-block; /* Показувати як блочний елемент, але без відступів */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід кольору фону при наведенні */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тінь кнопки */
}

input {
  cursor: pointer;
}

@media (max-width: 480px) {
  .App {
    font-size: 15px;
  }
}